 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

@charset "utf-8";
/* CSS Document */
body {
	padding-top: 0px;
	font:12px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#333;
	line-height:150%;
	background: #f2f2f2;
}

@font-face {
    font-family: BreeSerif;
    src: url(../fonts/BreeSerif.otf);
    font-weight:400;
}

#container {
	width: 940px;	
}

#header {
	height: 100px;
}

/*NAVBAR*/
#nav .navbar .navbar-inner {
	background-color: #1b1b1b;
	  background-image: -moz-linear-gradient(top, #222222, #111111);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	  background-image: -webkit-linear-gradient(top, #222222, #111111);
	  background-image: -o-linear-gradient(top, #222222, #111111);
	  background-image: linear-gradient(to bottom, #222222, #111111);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}
#nav .navbar .nav > li > a {
  color: #fff;
  text-shadow: none;
}
#nav .navbar .nav > li > a:focus,
#nav .navbar .nav > li > a:hover,
#nav .navbar .nav > li.active > a  {
  background-color: #91c113;
  color: #fff;
  text-decoration: none;
}
#nav .navbar .nav li.dropdown.open > .dropdown-toggle,
#nav .navbar .nav li.dropdown.active > .dropdown-toggle,
#nav .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #206ce0;
  color: #fff;
}
#nav .navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #206ce0;
  border-bottom-color: #206ce0;
}
#nav .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
#nav .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
#nav .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #206ce0;
  border-bottom-color: #206ce0;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #91c113;
}
/* END NAVBAR */

/* CONTENT */
#content {
	width: 900px;
	margin: 10px;
	float: left;
	/* border-right: 1px solid #eee; */	
}
#content #content-before {
	padding: 5px;
	background: #fff;
	box-shadow: 0 0 5px #888;
	border-radius: 5px;
	margin-right: 10px;
}
#content #content-before {
	float: none;
	width: 560px;
	margin-bottom: 20px;
	padding: 10px;
	padding-right: 100px;
	padding-bottom: 0px;
	background: url(../img/kadin2.jpg) left top no-repeat;
}
#content #content-main {
	width: 100%;
	padding: 10px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 1px #888;
}

/* SIDEBAR */
/*
#sidebar-right {
	margin-top: 10px;
	margin-left: 20px;
	width: 220px;
	padding: 5px;
	background: #fff;
	box-shadow: 0 0 5px #888;
	border-radius: 5px;
	float: left;
}
*/
#sidebar-right {
	margin-top: 10px;
	width: 220px;
	padding: 10px;
	float: left;
}

/* FOOTER */
#footer {
	height: 20px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); 
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 4px #888;
	border-radius: 5px 5px 0 0;
	text-align: center;
	width: 940px;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
}

/* COMPONENT */
.title {
	font-family: Georgia, "Arial", Times, serif;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
	color: #000;
	/* border-bottom: 1px solid #CCC; */
}
.title-small {
	font-size: 10px;
}
.title-large {
	font-size: 22px;
}
.title-taken {
	font-size: 14px;
	font-style: italic;
}
.white {
	color: #fff;
}
.date {
	font-weight: bold;
	font-size: 12px;
}
.img {
	margin-right: 10px;
}
.img-float {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;	
}
.slider-wrapper {
	background: #333;
}
.news {
	background: #ededed;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 1px #888;
}
.center {
	text-align: center;
	margin: auto;	
}
.text-white > * {
	font:12px Arial, Helvetica, sans-serif;
	text-align:left;
	color: #fff;
	font-weight: normal;	
}
#logo {
	padding: 10px;
}
.container-fluid {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#profile {
	padding: 10px;
	padding-bottom: 20px;
}
.well {
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0 0 5px #f2f2f2;
}
#main-content {
	padding: 15px;
}
.navbar {
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
}
.navbar-inner {
}
.home {
	margin-left: -20px;
}
.logout {
	margin-right: -20px;
}
ul.nav {
	margin-top: 10px;
}
.home a {
	background-color: #ffffff;
	padding-top: 10px;
}
ul.nav {
	padding-top: 0px;
}
hr  {
	margin: 0px;
	padding: 5px;
}
.navbar-search {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-bottom: -5px;
}
.navbar-search .search-query {
  margin-bottom: 0;
  padding: 4px 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 150px;
  background: #555555;
  border: 0px;
  color: #fff;
}
.divider-vertical {
	border-left-color: #111111;
	border-right-color: #222222;
}
.nav-left .well {
	padding-left: 0px;
	padding-right: 0px;
}
.scroll {
	overflow: auto;
	height: 450px;	
}